# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env
.env.*


# Byte-compiled / optimized / DLL files
*.pyc
*.pyd

# VSCode / IDE
.vscode/
.idea/

# Logs
*.log

# Local dev builds
instance/
